# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/HelloWorld/HelloWorld.VC.db
/HelloWorld/HelloWorld.VC.VC.opendb
/HelloWorld/ipch/HELLOWORLD-6cdaa34a
/HelloWorld/HelloWorld/Debug/vc140.pdb
/HelloWorld/HelloWorld/Debug/vc140.idb
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog/link.write.1.tlog
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog/link.read.1.tlog
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog/link.command.1.tlog
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog/CL.write.1.tlog
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog/CL.read.1.tlog
/HelloWorld/HelloWorld/Debug/HelloWorld.tlog/CL.command.1.tlog
/HelloWorld/HelloWorld/Debug/HelloWorld.log
/HelloWorld/Debug/HelloWorld.pdb
/HelloWorld/Debug/HelloWorld.ilk
